BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

BreakBeforeBraces: Attach
ColumnLimit: 180
SpacesInParentheses: false
SpaceAfterCStyleCast: false

PointerAlignment: Left
DerivePointerAlignment: false

SortIncludes: true
IncludeBlocks: Preserve

AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakAfterReturnType: None

ConstructorInitializerIndentWidth: 4
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true

NamespaceIndentation: All
IndentCaseLabels: true
BreakBeforeBinaryOperators: None

Cpp11BracedListStyle: true

BinPackArguments: false
BinPackParameters: false
PenaltyBreakBeforeFirstCallParameter: 10000
PenaltyBreakString: 10000
PenaltyExcessCharacter: 1000000
PenaltyBreakFirstLessLess: 10000
PenaltyReturnTypeOnItsOwnLine: 10000
AllowShortEnumsOnASingleLine: false
AllowAllArgumentsOnNextLine: false
