/.idea/

/bin
/build
/include
/debug
/release
/My*
/cov-int
setup/
/misc/linux/src
/misc/linux/pkg
*.sdf
*.opensdf
*.suo
*.user
*.db
*.log
*.dll
*.lib
*.tar.gz
*.tgz
*.xz
orientview
Makefile*
.directory
.DS_Store
.qmake.stash
OrientView.app
orientview_plugin_import.cpp
