[Desktop Entry]
Version=<VERSION>
Name=OrientView
Comment=Orienteering video and map analysis
Exec=orientview
Icon=orientview
Terminal=false
Type=Application
Categories=AudioVideo;
StartupWMClass=OrientView
MimeType=application/orientview;application/x-orientview;
